{
    "branches": [
        "master"
    ],
    "prepare": [
        {
            "path": "@semantic-release/changelog",
            "changelogFile": "docs/CHANGELOG.md"
        },
        {
            "path": "@semantic-release/git",
            "assets": [
                "docs/CHANGELOG.md"
            ]
        }
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/gitlab",
        "@semantic-release/git"
    ]
}