---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/cidaas_consent/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

In the import statement, the identifier is the combination of `consent_group_id` and `consent_name` joined by the special character ":".

Below is an exmaple of import command to import a consent:

```shell
terraform import cidaas_consent.sample a0508317-cec9-4f3e-afa4:sample_consent
```