---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})-Previously cidaas_user_group_category

{{ .Description | trimspace }}


### V2 to V3 Migration:
If you are migrating from v2 to v3, please note that `cidaas_user_group_category` has been renamed to `cidaas_group_type`.
Please update your Terraform configuration files accordingly to ensure compatibility with the latest version(v3).

## Example Usage

{{ tffile "examples/resources/cidaas_group_type/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

```shell
terraform import cidaas_group_type.resource_name group_type
```