---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}


### V2 to V3 Migration:
If you are migrating from v2 to v3, please note that `cidaas_registration_page_field` has been renamed to `cidaas_registration_field`. Below is the list of changes in `cidaas_registration_field`:

- **Multiple Locales:** Internationalization now supported via `local_texts`.
- **Field Definition Attributes:** Added to specify maximum and minimum lengths for `TEXT` and `DATE` attributes.
- **Extended Datatypes:** It now supports the datatypes `TEXT`, `NUMBER`, `SELECT`, `MULTISELECT`, `RADIO`, `CHECKBOX`, `PASSWORD`, `DATE`, `URL`, `EMAIL`,
	`TEXTAREA`, `MOBILE`, `CONSENT`, `JSON_STRING`, `USERNAME`, `ARRAY`, `GROUPING` and `DAYDATE`.
- **Configuration Updates:** Adjustments required for the below attribute as shown below:

| old config           |      new config                                    |
|---------------------| ----------------------------------------------|
| required_msg | local_texts[i].required_msg |
| locale_text_min_length | field_defination.min_length |
| locale_text_max_length | field_defination.max_length |
| min_length_error_msg | local_texts[i].min_length_msg |
| max_length_error_msg | local_texts[i].max_length_msg |
| locale_text_language | The `language` attribute is no longer required. The provider computes and assigns the language based on the `locale` provided. |
| locale_text_locale | local_texts[i].locale |
| locale_text_name | local_texts[i].name |


#### Attribute `local_text`

| attributes         |      description                             |
|---------------------| ----------------------------------------------|
| locale | The locale of the field. example: de-DE |
| name |Then name of the field in the local configured. for exmaple: in **en-US** the name is `Sample Field` in de-DE `Beispielfeld`|
| max_length_msg | warning/error msg to show to the user when user exceeds the maximum character configured. This is applicable only for the attributes of base_data_type string |
| min_length_msg | warning/error msg to show to the user when user don't provide the minimum character required. This is applicable only for the attributes of base_data_type string |
| required_msg | When the flag required is set to true the required_msg must be provided. required_msg is shown if user does not provide a required field |
| attributes | The field attributes must be provided for the data_type SELECT, MULTISELECT and RADIO. it's an array of key value pairs. example shown below |
| consent_label | required when data_type is CONSENT. exmaple shown below |


### Example of `attributes`
```terraform
 local_texts = [
    {
      locale       = "en-US"
      name         = "Sample Field"
      required_msg = "The field is required"
      attributes = [
        {
          key   = "test_key"
          value = "test_value"
        }
      ]
    }
 ]
```

### Example of `consent_label`
```terraform
local_texts = [
    {
      locale       = "en-US"
      name         = "sample_consent_field"
      required_msg = "The field is required"
      consent_label = {
        label      = "test",
        label_text = "test label text"
      }
    }
  ]
```

### Attribute `field_definition`

| attributes         |      description                             |
|---------------------| ----------------------------------------------|
| max_length | The maximum length of a string type attribute |
| min_length |The minimum length of a string type attribute|
| min_date | applicable only for DATE attribute. example: "2024-06-28T18:30:00Z" |
| max_date | applicable only for DATE attribute. example: "2024-06-28T18:30:00Z" |
| initial_date_view | applicable only for DATE attribute. Allowed values: month, year and multi-year |
| initial_date | applicable only for DATE attribute. example: "2024-06-28T18:30:00Z" |

Ensure your Terraform configurations are updated accordingly to maintain compatibility with the latest version.

## Old configuration:
```terraform
resource "cidaas_registration_page_field" "sample" {
  claimable              = true
  data_type              = "TEXT"
  enabled                = false
  field_key              = "sample_field"
  field_type             = "CUSTOM"
  internal               = false
  is_group               = false
  locale_text_language   = "en"
  locale_text_locale     = "en-us"
  locale_text_name       = "Sample Field"
  order                  = 2
  parent_group_id        = "DEFAULT"
  read_only              = false
  required               = true
  required_msg           = "sample_field is required"
  locale_text_min_length = 10
  locale_text_max_length = 100
  min_length_error_msg   = "minimum length should be 10"
  max_length_error_msg   = "maximum length should be 100"
  scopes = [
    "profile",
  ]
  overwrite_with_null_value_from_social_provider = false
}
```

## Example Usage(V3 configuration)

{{ tffile "examples/resources/cidaas_registration_field/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

```shell
terraform import cidaas_registration_page_field.resource_name field_key
```