---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/cidaas_social_provider/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

The import identifier of resource social provider is a combination of **provider_name** and **provider_id** joined by the special character ":".
For example, if the resource name is `sample` with provider_name `google` and provider_id `8d789b3d-b312-4251`, the import statement would be:

```shell
terraform import cidaas_social_provider.sample google:8d789b3d-b312-4251
```