---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}


## Example Usage

{{ tffile "examples/datasources/cidaas_custom_provider.tf" }}


{{ .SchemaMarkdown | trimspace }}

## Filterable Fields

* `provider_name`
* `standard_type`
