---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}


## Example Usage

{{ tffile "examples/datasources/cidaas_registration_field.tf" }}


{{ .SchemaMarkdown | trimspace }}

## Filterable Fields

* `parent_group_id`
* `field_type`
* `data_type`
* `field_key`
* `required`
* `internal`
* `read_only`
* `is_group`
* `enabled`
