---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}


## Example Usage

{{ tffile "examples/datasources/cidaas_role.tf" }}


{{ .SchemaMarkdown | trimspace }}

## Filterable Fields

* `role`
* `name`
