---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}


## Example Usage

{{ tffile "examples/datasources/cidaas_scope.tf" }}


{{ .SchemaMarkdown | trimspace }}

## Filterable Fields

* `scope_key`
* `security_level`
* `group_name`
* `required_user_consent`
