---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}


## Example Usage

{{ tffile "examples/datasources/cidaas_social_provider.tf" }}


{{ .SchemaMarkdown | trimspace }}

## Filterable Fields

* `name`
* `provider_name`
* `enabled`
* `enabled_for_admin_portal`
