---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}


## Example Usage

{{ tffile "examples/datasources/cidaas_system_template_option.tf" }}


{{ .SchemaMarkdown | trimspace }}

## Filterable Fields

* `template_key`
* `enabled`
